body
{
    margin: 0;
    height: 100%;
}
header 
{
    padding: 20px;
}
.logo-content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;   
    width: 80%; 
}
.logo-text
{
    display: flex;
    flex-direction: column;
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #82A70C;
    text-transform: capitalize;
}
.logo-text-2
{
    color: #42515F;
}
.form-content 
{
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.form
 {
    width: 65%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
}
.form-head 
{
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
}
.row-content 
{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.input
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.label-text
{
    padding: 12px 12px 12px 0;
    display: inline-block;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    min-width: 140px;
}
.radio-content
{
    display: flex;
    flex-direction: row;
}
.radio-content > label
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px 12px 0; 
    margin-right: 30px;
}
.text
{
    padding: 12px 12px 12px 0; 
    margin-right: 35px;
    font: normal normal normal 18px/24px Roboto;
    color: #42515F;
}
select
{
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    padding: 12px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    color: #42515f;
    background-color: transparent;
}

 
